# Testing
obj
bin
packages
node_modules
.vs
stylecop.cache

# CSHTML files should be generated
*cshtml
src/cordova/www/images/v1/images/logo2b.png

src/.DS_Store

src/.DS_Store

src/.DS_Store

src/client/.DS_Store

src/client/content/v1/images/logo2-b.png

src/cordova/www/images/logo2b.png
