@inherits SBSViewPage<Yojowa.StopByStop.Web.Models.ExitModel>

@{
    Layout = "~/Client/Views/Shared/_NonHomeLayout.cshtml";
    ViewBag.Title = Model.RouteJunction.Junction.Name + " on the way from " + Model.FromLocation.PlaceDescription + " to " + Model.ToLocation.PlaceDescription;
    ViewBag.UITitle = Model.FromLocation.PlaceDescription + " to " + Model.ToLocation.PlaceDescription;

    int foodPoiCount = Model.RouteJunction.Junction.Pois.Where(p => p.Poi.PoiType == Yojowa.StopByStop.PoiType.Food).Count();
    int gasPoiCount = Model.RouteJunction.Junction.Pois.Where(p => p.Poi.PoiType == Yojowa.StopByStop.PoiType.Gas).Count();

    ViewBag.Description = string.Format("{0} is on the way from {1} to {2}. It has {3} places to eat and {4} gas stations within 5 mile radius.",
        Model.RouteJunction.Junction.Name,
        Model.FromLocation.PlaceDescription,
        Model.ToLocation.PlaceDescription,
        foodPoiCount == 0 ? "no" : foodPoiCount.ToString(),
        gasPoiCount == 0 ? "no" : gasPoiCount.ToString());

    ViewBag.UIDescription = string.Format("{0}. {1} gas stations, {2} restaurants within 5 mile travel distance.",
        Model.RouteJunction.Junction.Name, foodPoiCount, gasPoiCount);

    ViewBag.PageName = "exit-page";

    var poiTableAndMapModel = new Yojowa.StopByStop.Web.Models.PoiListModel(
        Model.RouteJunction, 
        Model.RouteJunction.Junction.Pois, 
        Yojowa.StopByStop.PoiType.General,
        Model.RoutePathId);

    ViewBag.TelemetryPageName = "Exit";
    ViewBag.RenderGMap = true;
}

@section BreadcrumbLinks
{

    <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
        <a data-ajax="false" itemprop="item" href="@Href("~/route/" + Model.RoutePathId)">
            <span itemprop="name">@(Model.FromLocation.PlaceDescription + " to " + Model.ToLocation.PlaceDescription)</span>
        </a>
    </li>
}

@Html.Partial("~/Client/Views/Shared/_POITableAndMap.cshtml", poiTableAndMapModel)

@section Scripts
{
    @Html.Partial("~/Client/Views/Shared/_POITableAndMap_SCRIPTS.cshtml", poiTableAndMapModel)
}

