

.sbs-web .ui-overlay-a, 
.sbs-web .ui-page-theme-a, 
.sbs-web .ui-page-theme-a .ui-panel-wrapper {
    background-image: url('v1/images/main_image_mobile2.jpg');
}

.sbs-cdb .ui-overlay-a, 
.sbs-cdb .ui-page-theme-a, 
.sbs-cdb .ui-page-theme-a .ui-panel-wrapper {
    background-image: url('../images/main_image_mobile2.jpg');
}

@media (min-width: 90em) {
    .sbs-web .ui-overlay-a, 
    .sbs-web .ui-page-theme-a, 
    .sbs-web .ui-page-theme-a .ui-panel-wrapper {
        background-image: url('v1/images/main_image2.jpg');
    }

    .sbs-cdb .ui-overlay-a, 
    .sbs-cdb .ui-page-theme-a, 
    .sbs-cdb .ui-page-theme-a .ui-panel-wrapper {
        background-image: url('../images/main_image2.jpg');
    }
}
