<!-- about page-->
<div id="about" data-role="page" class="jqm-demos about-page" data-page-name="about-page" data-telemetry-page-name="About">
    {{>header renderFilterButton=false}}
    {{>navpanel}}
    {{>footer}}
</div>
<!-- end of about page -->