<!-- exit page-->
<div id="exit" data-role="page" class="jqm-demos exit-page" data-page-name="exit-page" data-telemetry-page-name="Exit">
    {{>header renderFilterButton=true}}
    <div role="main" class="ui-content jqm-content">
        <div class="page-content-inner">
            <div class="breadCrumbHolder module">
                <div id="breadCrumb0" class="breadCrumb module" style="position:relative">
                    <ul itemscope="" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb_main">
                        <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="#home"><span itemprop="name">Home <img class="breadcrumb-arrow" src="{{{getImage "arrow.png"}}}"></span></a>
                        </li>
                        <li data-bind="if:route" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="#route">
                                <span itemprop="name" data-bind="text:route.title"></span>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="main_inner" data-bind="if:isRouteLoading">
                    <div class="route-loading">
                        <h2 class="description_title" data-bind="text:routeLoadingMessage"></h2>
                    </div>
                </div>
                <div data-bind="if:selectedJunction">
                    <div class="main_inner">
                        <div class="route-summary">
                            <h2 class="description_title" data-bind="text:selectedJunction().routeJunction.junction.name"></h2>
                            
                            <!-- ko with: selectedJunction().filter -->
                            {{>routeSummaryTable}}
                            <!-- /ko -->
                        </div>
                        
                        <div class="pois-list">
                            <div>
                                <div class="pois-list-filters-container">
                                    <a href="#" class="ui-btn ui-btn-inline ui-btn-icon-right pois-list-filters-button">Filters</a>
                                </div>
                                <fieldset class="view-mode-switch pois-list-view-mode-switch" data-role="controlgroup" data-type="horizontal" style="float:none;text-align:center;">
                                    <input type="radio" name="view-mode-radio-choice-2" id="view-mode-radio-choice-21" value="list" checked="checked" />
                                    <label class="list-view" for="view-mode-radio-choice-21">List</label>

                                    <input type="radio" name="view-mode-radio-choice-2" id="view-mode-radio-choice-22" value="map" />
                                    <label class="map-view" for="view-mode-radio-choice-22">Map</label>
                                </fieldset>
                            </div>

                            <!-- start POI list-->
                            <!-- ko foreach: selectedJunction().routeJunction.poiTypeViewModels-->
                            <div class="poi-table" data-bind="foreach: visiblePois()">
                                {{>poiRow showCategories=true isMapPopup=false}}
                            </div>
                            <!--/ko-->
                            <!-- end POI list-->
                           


                            <div class="poi-map">
                                <div id="map" style="width:100%;clear:both"></div>
                            </div>
                            <!-- poi-map -->
                        </div>
                        <!-- /poi-list -->
                    </div>
                    <!-- /main_inner -->
                </div>
                <!-- /if selectedJunction -->
            </div>
            <!-- /breadCrumbHolder module -->
        </div>
        <!-- /page-content-inner -->
    </div>
    <!-- /main -->
    {{>filterDialog cbid='cb3' forJunction=true}}
    {{>navpanel}}
    {{>footer}}
</div>
<!-- /exit-page -->
<!-- end of exit page-->