<!-- route page-->
<div id="route" data-role="page" class="jqm-demos route-page" data-page-name="route-page" data-telemetry-page-name="Route">
    {{>header renderFilterButton=true}}
    <div role="main" class="ui-content jqm-content">
        <div class="page-content-inner">
            <div class="breadCrumbHolder module">
                <div class="breadCrumb module" style="position:relative">
                    <ul itemscope="" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb_main">
                        <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="#home"><span itemprop="name">Home</span></a>
                        </li>
                    </ul>

                </div>
                <div class="main_inner" data-bind="if:isRouteLoading">
                    <div class="route-loading">
                        <h2 class="description_title" data-bind="text:routeLoadingMessage"></h2>
                    </div>
                </div>
                <div class="main_inner" data-bind="if:route">
                    <div class="route-summary">
                        <h2 class="description_title" data-bind="text:route.title"></h2>
                        <div class="route-summary-table">
                            <div class="route-description2" style="display:table-row">
                                <div class="route-summary-cell">
                                    <span class="route-description-metric-label">Distance</span>
                                </div>
                                <div class="route-summary-cell">
                                    <span class="route-description-metric-label">Total Time</span>
                                </div>
                                <div class="route-summary-cell">
                                    <span class="route-description-metric-label">Restaurants</span>
                                </div>
                                <div class="route-summary-cell">
                                    <span class="route-description-metric-label">Gas stations</span>
                                </div>
                            </div>
                            <div class="route-description2" style="display:table-row">
                                <div class="route-summary-cell">
                                    <span class="route-description-metric">
                                        <span data-bind="text: route.distance"></span>
                                        <span>mi</span>
                                    </span>
                                </div>
                                <div class="route-summary-cell">
                                    <span class="route-description-metric">
                                        <span data-bind="if:(route.tripTimeHours() > 0)">
                                            <span data-bind="text: route.tripTimeHours"></span>
                                            <span>hr</span>
                                        </span>
                                        <span data-bind="text: route.tripTimeMinutes"></span>
                                        <span>min</span>
                                    </span>
                                </div>
                                <div class="route-summary-cell">
                                    <span class="restaurant-icon"></span>
                                    <span class="route-description-metric" data-bind="text: filter.filteredFoodCount"></span>
                                </div>
                                <div class="route-summary-cell">
                                    <span class="gas-icon"></span>
                                    <span class="route-description-metric" data-bind="text: filter.filteredGasStationCount"></span>
                                </div>
                            </div>
                        </div>
                        <div class="route-description2 miles">
                            <span class="route-description-metric-label">within</span>
                            <span class="route-description-metric" data-bind="text: filter.maxDistanceFromJunction"></span>
                            <span class="route-description-metric-label">mile(s) from exit</span>
                        </div>
                    </div>
                    <p></p>
                    <!-- route -->
                    <div class="ui-filterable route-wrapper">
                        <div class="route" data-bind="element:route.boundElement">
                            <div class="route_line" data-bind="foreach: route.routeSegments">
                                <div class="segment" data-bind="style: {height: height, lineHeight:height}">

                                    <div class="segment-name">
                                        <span class="direction-icon exit"></span>
                                        <span class="segment-instructions">
                                            <span data-bind="html: instructions, attr: {title: instructionsTip}"></span>
                                        </span>

                                        <span class="highway-name">
                                            <span data-bind="text: highwayNameText, attr: {title:highwayNameText}"></span>
                                        </span>
                                        <div class="segment-distance">
                                            <span class="distance_marker" data-bind="text: distanceText"></span>
                                        </div>
                                    </div>

                                    <div data-bind="foreach: routeVisibleJunctions">
                                        <div class="junction-wrapper" data-bind="style: {top:top},attr:{osmid:junction.osmid}">
                                            <div class="exit_marker">
                                                <a href="#" class="junction" data-bind="click: navigateToExitPage">
                                                    <div class="junction-name" data-bind="html: junction.ref, attr: {title:junction.name}"></div>
                                                </a>
                                                <div class="segment-distance distance-to-junction" data-bind="style:{width:hasStops()?'8em':'4em', backgroundColor:hasStops()?'lightyellow':'#fff'}">
                                                    <span class="time_to_junction_marker" data-bind="text: etaString"></span>
                                                </div>
                                                <div class="pois">
                                                    <div data-bind="foreach: poiTypeViewModels">
                                                        <a data-bind="visible:visiblePois().length > 0, click: navigateToExitPage, css: 'poi '+categoryId, attr:{'data-type': poiTypeString}">
                                                            <div style="position:relative">
                                                                <div class="poi-count" data-bind="html: poiCountString"></div>
                                                                <div class="poi-distance-label" data-bind="html: closestPoiDistance"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- sidebar -->
                    <div style="padding-left:10px;" data-bind="template:{name:'sidebar-template', if:route.sideBar, afterRender:initSideBar.bind($data)}"></div>
                </div>
            </div>
        </div>
    </div>

    {{>filterDialog cbid='cb2' forJunction=false}}
    {{>stopSettingsDialog addToRouteText='Keep this <br/>stop'}}
    {{>navpanel}}
    {{>footer renderLetsGoButton=true }}
</div>
<!-- end of route page-->