<div class="filters-container">
    <div class="filters-trigger-line1"></div>
    <div class="filters-trigger-line2"></div>
    <div class="filters-trigger">
        <a href="#" class="filter-btn">Show filters</a>
    </div>
</div>