<div data-role="footer" data-position="fixed" class="jqm-footer" data-tap-toggle="false">
 {{#if renderLetsGoButton}}
  <div class="letsgo-outer">
         <!-- let's go button-->
         <div data-bind="if:(routePlan && routePlan.stops().length > 0)" class="letsgo-container">
             <a href="#" class="ui-btn ui-btn-inline ui-corner-all letsgo-button"
                data-bind="click:function(){routePlan.navigate();return false;}"
                data-rel="back">Let's go</a>
         </div>
     </div>
     {{/if}}
  
  
     <div style="position:absolute;top:3px;left:15px;">
      <a href="mailto:support@stopbystop.com?subject=StopByStop.com" target="_top">
            <img style="height:50px;" src='{{{getImageNoCDN "feedback.svg"}}}' />
       </a>
   </div>
   

    
    <div class="social_icons">
        <ul>
            <!--Facebook-->
            <li>
           
                <a data-bind="attr:{href:'https://www.facebook.com/sharer/sharer.php?u='+url()+'&amp;t='+title()}"
                   class="popup social-fb social-btn" target="_top">
                    <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 486.392 486.392" fill="#3e465b" width="32px" height="32px" style="enable-background:new 0 0 486.392 486.392;" xml:space="preserve">
   
                                        <image style="overflow:visible;" width="36" height="36" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
                    bWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
                    bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
                    eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1
                    ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
                    dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
                    dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
                    IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
                    ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
                    cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOklu
                    c3RhbmNlSUQ9InhtcC5paWQ6MTcyRjA0NzlCNDY2MTFFNkIzMEVFQzNGRDJFMDg2MzQiIHhtcE1N
                    OkRvY3VtZW50SUQ9InhtcC5kaWQ6MTcyRjA0N0FCNDY2MTFFNkIzMEVFQzNGRDJFMDg2MzQiPiA8
                    eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxNzJGMDQ3N0I0NjYx
                    MUU2QjMwRUVDM0ZEMkUwODYzNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxNzJGMDQ3OEI0
                    NjYxMUU2QjMwRUVDM0ZEMkUwODYzNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8
                    L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuxzshoAAAFXSURBVHjaYrRzi2YAAjEgbgJi
                    ayDmYqAv+AbEx4C4FohfsQAJeSA+AcQSDAMHdIDYH4jNmeWV9bqBDHuGgQc8IAwKIVMaW/QBiK9B
                    owYZqACxApqYCchBzDRyyA0gLgfibUD8B4t8OxBXoIkxs9DIMSBHhAPxF1I1MtHAMXfIdQytHFRD
                    rmNo4aCvQLyREgOonYYeAvEPLOLOQDwNiEWRxDjp4aB3OMQ7gFhtoNIQNiA2kImaIjDoHESNNNQN
                    LXtA4AUONZXQugoZBAKxBy0ctAmIjxBQswyLmCI2B42moRGZqNWB+DuUDarDbmJRowvEbGhiErRy
                    0BwkNihx22JRswWI5UbT0KiDRh006qBRB406iEaV618qmgcaVtlNQSP/L8hBp4HYgEoOEgBiFwr0
                    nwVFWSuetjA9wUsgbmaB9jb1GSBDeja4epQ0BKC21FEG6JAeQIABAHwfM/EEU0hsAAAAAElFTkSu
                    QmCC">
                    </image>
                    </svg>
                </a>
            </li>


            <!--google+-->
            <li>
              
                <a data-bind="attr:{href:'https://plus.google.com/share?url='+url()}"
                   class="popup social-gp social-btn" target="_top">
                    <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="32px" height="32px" viewBox="0 0 612 612" fill="#3e465b" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                      
                                            <image style="overflow:visible;" width="36" height="36" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
                        bWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
                        bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
                        eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1
                        ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
                        dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
                        dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
                        IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
                        ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
                        cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOklu
                        c3RhbmNlSUQ9InhtcC5paWQ6RjhDNTI2RDZCNDc0MTFFNkIzMEVFQzNGRDJFMDg2MzQiIHhtcE1N
                        OkRvY3VtZW50SUQ9InhtcC5kaWQ6RjhDNTI2RDdCNDc0MTFFNkIzMEVFQzNGRDJFMDg2MzQiPiA8
                        eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGOEM1MjZENEI0NzQx
                        MUU2QjMwRUVDM0ZEMkUwODYzNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGOEM1MjZENUI0
                        NzQxMUU2QjMwRUVDM0ZEMkUwODYzNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8
                        L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsKBar4AAALsSURBVHjazJhJaBRREIZ7OgMm
                        GhVxi+JyETyoibvgEpdDxBhR4kFRIgHFDcWb+wIJooIXvUTjBgqeREWi4IIbKorMYUAEEURRzGIM
                        LkTRGPUv+FuKx5tMO92dmYJv8l7PS/c/U/Wq6k2stGylAxsEasAM0NPpXvsGHoE9oCWOl5HgMShy
                        smdjwWIwzcXLriyL8Www2C2Cpji5Y5NFUF4OCcqL/8fiNnAW3AeN4AP4Y1kXA0dBeSaK/AqqAzvA
                        5zTrYlxbnulX5PpYI9txI8WsBUnwAFQY64aB52BdEJ+lEyQP3s9xCTgGipmvLhvfxDu61IlS0GEV
                        J3Ppkn8BCI4Y9ziRIq5CE3RbjfMt748Cs9S8lQEfiaB28FXN36RYN8mY/45KUC9QqOb3UjxsiBr3
                        MeaeXWXMBXaZDtr34LxlzQs1rkqRaGWXVochSLZ8DzXfAp6o+S1wjuMxakdGFtRShS8o10m2ng5m
                        g5mgDPwAS5gi+gYV5CdTV9AtssVv0HXSrvzk+yLuopES5EMcVPMm0CnFU13bZHOj39IxFBwiYlPB
                        U457G2Ic1rmE5T4JQ2RGpcNmBWrcAJaCt+raBiZIjxF0p762PQxBUs/uWBo6cdkEujTyGPoCTnE3
                        JbtIfB8Zb5fAwqgEyc3XS/PN+Wg+bDx78U/sAJr5fgcD9RVjy7MV4HtQQafBGvpbbl4PllkCeCKY
                        z9bDq2fyQVapNQeC5iG56WZVuaXqL7eI8fqgu/zr2bOwE+M1npdsJcRmA8HWDNKJb0GNloBNZ0VG
                        hg9V0HBjftzHvRpUl7AgbEGyffurubSutUz/Njupiuw20C/sbS99zRlQCX4xuPfyoXJtHH8DaGZS
                        vMn/kx8KdkaVGBeB62A1eM1rL1U9M5u0fUFPHH52wzyKuMLeJ8mUIHlpABPlHMZMfhhH17jPNZUk
                        cnO7CNRsWKer+ppcsITLPrgpB8TIjq2N87wlx+Qa9skF3SxEuoCHPFC0/BVgAIuKldmeEbR1AAAA
                        AElFTkSuQmCC">
                        </image>
                    </svg>
                </a>
            </li>
            <!--linkdin-->
            <li>
                <a data-bind="attr:{href:'http://www.linkedin.com/shareArticle?mini=true&amp;url='+url()+'&amp;title='+title()}"
                   class="popup social-ln social-btn" target="_top">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 486.392 486.392" style="enable-background:new 0 0 486.392 486.392;" xml:space="preserve" fill="#3e465b">
                                            <image style="overflow:visible;" width="36" height="36" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
                        bWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
                        bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
                        eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1
                        ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
                        dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
                        dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
                        IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
                        ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
                        cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOklu
                        c3RhbmNlSUQ9InhtcC5paWQ6RjhDNTI2REFCNDc0MTFFNkIzMEVFQzNGRDJFMDg2MzQiIHhtcE1N
                        OkRvY3VtZW50SUQ9InhtcC5kaWQ6RjhDNTI2REJCNDc0MTFFNkIzMEVFQzNGRDJFMDg2MzQiPiA8
                        eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGOEM1MjZEOEI0NzQx
                        MUU2QjMwRUVDM0ZEMkUwODYzNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGOEM1MjZEOUI0
                        NzQxMUU2QjMwRUVDM0ZEMkUwODYzNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8
                        L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pj3qboYAAAHDSURBVHja7JhPKARRHMdnd4cQ
                        igPyN3+O4kK2yDpoc1A25eTgRuuuyJ/DSpxF4s5JOaI4KP9KisOelHKwsaXFwbpMfJ9+6jW9N9mt
                        fW/UfOsz7bx57Xya9+bNb8bXGx41kAoQA92gyFCbD3AO5kHSxKYBXIIqQ19awRDo8mMzq1nmN5Vg
                        jgl1Gu5JBxMKuEgo4JccsMAMKAdsng2AexVGMqEFsAJSJHdIUp+6hDYEbXfgWIfQF3iX9E/pEPKB
                        fkF7PgjpGrI10GSTWQd1uRYyJe0tIA6OQJoeKdUq7jLT4VgBGFS9EPkNl0V2hQ7Anq2NLZLL3P4O
                        OBEM9RR4AqtgHyRAM4iASVCcjdAN2LK11duETgV9ekAbYDXNC9eeBBckuQuCqoaMPV6GbTJ8HmnF
                        j6sSSlDB5ZQ3MKFyUufRXNkEY5JznIHbTG/7bLMNRuj3OM2XqKAfm1Ptub5CjZyMwUmVCfq+qhiy
                        Gsk5Sv7twugJeUKekFcPUfrovYxPqW0/Qh8q+NRK/m9a8CYTykQo6FSzUMLEXxLNZMgsF42YxYSu
                        XCR0zYSWqAbWnWewyObQA9UlMaqJCxWLpKlg+/mk9y3AAMqnSeJqT4F6AAAAAElFTkSuQmCC">
                        </image>
                    </svg>
                </a>
            </li>
            <!--Twitter-->
            <li>
                <a data-bind="attr:{href:'https://twitter.com/intent/tweet?text='+url()}"
                   target="_top" class="popup social-tw social-btn">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="32px" height="32px" fill="#3e465b" viewBox="0 0 49.652 49.652" style="enable-background:new 0 0 49.652 49.652;"
                         xml:space="preserve">
                                        <image style="overflow:visible;" width="36" height="36" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
                    bWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
                    bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
                    eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1
                    ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
                    dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
                    dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
                    IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
                    ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
                    cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOklu
                    c3RhbmNlSUQ9InhtcC5paWQ6RjhDNTI2RDJCNDc0MTFFNkIzMEVFQzNGRDJFMDg2MzQiIHhtcE1N
                    OkRvY3VtZW50SUQ9InhtcC5kaWQ6RjhDNTI2RDNCNDc0MTFFNkIzMEVFQzNGRDJFMDg2MzQiPiA8
                    eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxNzJGMDQ3RkI0NjYx
                    MUU2QjMwRUVDM0ZEMkUwODYzNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxNzJGMDQ4MEI0
                    NjYxMUU2QjMwRUVDM0ZEMkUwODYzNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8
                    L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PpP1stUAAAIaSURBVHja7JhLKERRGMevMeUZ
                    Io+SV0mIbMjCO6WIRpKNSFkrFpKw8FxYWSBiIclCdspOWJBIipLIwjOPjbzTjPw/vqlpMu4x98zM
                    XcxXv9vtzunc/5zH//vO9Sksq1cQUaAP5IFAxb3xCjZBD7gz4pIAtkCM4rnIACaQa8Cly8NirBEN
                    uklQjqKfyCZBvjoS5GtQdBZeQWphdFG/ZCPr4AmkgmoQbPP7p6PBEBE0B2oEDfMakNOu2T2PA/Pg
                    g/urALXOTlknqASPKu2eQfEvYiguQAEo5XsyQbOzguhfr7Jfbf/RbgycqPQVBCJAlaN3iwiyuvgx
                    57oeB6O1ItDXC9gDE1oEldvc0zAPcP5r4el5s1moIrEIErVs+3bgZ/fsAYyCEhAG0sC+oKBIrT40
                    wovQUdDOOQL3An0FcBLV5EP7XK/IiHTgo3WEmiQaZpGM1NHMxigjTDIEUZsFMAVSNIhJYXOUksto
                    4faCSw2COtXWz3+yPe2OIQ1ickGj7PKjAczyCeU/EcoJ1SBbkFUUJccZ4C/QnkxzCSS7qh6ifDbO
                    C/xdpS2VHMt8xJFWoJ2DSXAIDsCpSKHO3jUMwmWXsPGggw1NbYooYbax+GlnxIhOWQhoZa7ABq8j
                    M5elNDWZIMkTNXUsqPMeg7yC7ARZdKTHQoJ2dCRolwQNghsdiLkF/bTtz0CW8vNJL58zuzvjjb3t
                    +5PelwADACXVW2uF+JVXAAAAAElFTkSuQmCC">
                    </image>
                    </svg>
                </a>
            </li>

        </ul>
    </div>
  
</div>