<div id="sbsfooter" data-role="footer" data-position="fixed" class="jqm-footer" data-tap-toggle="false">
    <div style="position:absolute;top:3px;left:15px;">
        <a href="mailto:support@stopbystop.com?subject=StopByStop.com" target="_top">
            <img style="height:50px;" src="images/feedback.svg" />
        </a>
    </div>
    <div class="social_icons">
        &nbsp;
    </div>
    <div class="copyright">
        <span>
            Design By <span style="font-weight:bold;color:#ffffff;text-decoration:none;">
                <a href="http://www.eighty3.co.uk" target="_blank">
                    Eighty
                    <span style="color:#DA7B15">3</span>
                </a>
            </span>
        </span>
    </div>
</div>