<div id="sbsheader" data-role="header" data-position="fixed" class="jqm-header" data-tap-toggle="false">
    <div class="main_inner">
        <h2>
            <a href="#home">
                <img src="images/logo2.png" alt="StopByStop" />
            </a>
        </h2>
        <a href="#menupanel"
           class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
        <a href="#" class="filter-btn ui-btn ui-corner-all ui-btn-right">Filters</a>
    </div>
</div>