<div id="poiPopupTemplate">
    <div class='poi-popup' style='width:200px;height:120px;overflow:auto; position:relative;'>
        {{>poiRow showCategories=false isMapPopup=true poiType='StopByStop.PoiType[poi.poiType].toLowerCase()'}}
    </div>
</div>
