<div id="menupanel" data-role="panel" data-position="left" data-display="overlay" data-theme="a">
    <ul id="menupanel-list" data-role="listview">
        <li data-icon="home">
            <a href="#home" data-rel="close">Home</a>
        </li>
        <li data-icon="about">
            <a href="#about" data-rel="close">About</a>
        </li>

        <li>
            <a href="mailto:support@stopbystop.com?subject=StopByStop.com" target="_top">Contact Us</a>
        </li>
    </ul>
</div>