<script type="text/html" id="sidebar-template">
    <div id="sidebar" data-bind="style:{height:route.sideBar.sideBarHeight()+'px',position:route.sideBar.sideBarPosition,top:route.sideBar.sideBarTop,bottom:route.sideBar.sideBarBottom}">
        <div class="sidebar-label sidebar-top">
            <div class="sidebar_text" data-bind="html:route.fromLocation.placeDescription">
            </div>
            <div class="route-start">
                <span data-bind="text:route.startTimeString"></span>
            </div>
        </div>

        <div id="sidebar-inner" data-bind="style:{height:route.sideBar.sideBarInnerHeight()+'px', top:route.sideBar.sideBarInnerTop()+'px'}">
            <div data-bind="foreach: route.sideBar.stops">
                <div class="sidebar-stop" data-bind="css:'poi ui-link '+ poiTypeClass+' sidebar-stop', style:{top:top,left:left}, click:click">
                    <div class="sidebar-stop-time">
                        <span class = "heading" data-bind="text:stop.name"></span>
                        <br />
                        <span data-bind="text:stop.etaString"></span>
                    </div>
                </div>
            </div>

            <div id="sidebar-thumb" data-bind="style:{top:route.sideBar.sideBarThumbTop, backgroundColor:route.sideBar.isDraggingThumb()? '#EB65A0':'#FFF'}"></div>
        </div>

        <div class="sidebar-label sidebar-bottom">
            <div class="route-eta">
                <span data-bind="text:route.etaString"></span>
            </div>
            <span class ="end-icon"></span>
            <div class="sidebar_text" data-bind="html:route.toLocation.placeDescription"></div>
            
        </div>
    </div>
</script>