@inherits System.Web.Mvc.WebViewPage

@{
    ViewBag.Title = "About";
    ViewBag.PageName = "about-page";
    ViewBag.TelemetryPageName = "About";
}

<h2>About</h2>

Nullam risus nisi, laoreet vitae libero eget, rhoncus pretium tellus. Vestibulum tincidunt sapien sit amet lectus condimentum luctus quis vitae nisi. Sed malesuada tortor eu feugiat malesuada. Duis vel arcu fermentum, ornare diam nec, condimentum ex. Aliquam eleifend vel arcu ac posuere. Pellentesque lacinia tincidunt ultrices. Vivamus ac lectus finibus, elementum metus ac, rutrum justo. Mauris sagittis velit nec risus convallis, ac interdum ex pharetra. Integer dapibus placerat ex, non congue nisi lacinia eu. Morbi ac faucibus eros, et iaculis tellus. Nam porttitor sapien tempor semper tempor. Quisque ultrices et magna sit amet condimentum.

<a href="~/Client/Views/Home/About.cshtml">~/Client/Views/Home/About.cshtml</a>