@model Yojowa.StopByStop.Web.Models.MainModel
@{
    Layout = null;
    string currentUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    string rf = HttpContext.Current.Request.QueryString["rf"];
    if (string.IsNullOrEmpty(rf))
    {
        rf = Yojowa.StopByStop.Utils.CookieUtils.ReadCookie("rf");
    }
    if (string.IsNullOrEmpty(rf))
    {
        rf = "";
    }

    this.Model.GenerateTitleAndDescription();
}
<!DOCTYPE html>
<html class="sbs-web">
<head>
    <title>@Model.Title</title>

    <meta name="description" content="@(Model.Description)" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="msvalidate.01" content="C5252CA292217904D2AE105CDB814ABB" />
    <meta name="google-site-verification" content="4YnVgJsYaWa9b1baICDoWWcaU7bGTFe7zq7Nm8nNBaw" />
    {{>favicon url='@currentUrl' title='@(Model.Title)' description='@(Model.Description)' includeManifest=true}}
    <!-- TODO: specify affiliate-data=myAffiliateData, app-argument=myURL-->
    <meta name="apple-itunes-app" content="app-id=1088291321" />
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />


    <!-- TODO: change to min.css-->
    @System.Web.Optimization.Styles.Render("~/client/content/sbscssbundle")

    <script type="text/javascript">
        var getQueryString = function (field, url) {
            var href = url ? url : window.location.href;
            var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
            var string = reg.exec(href);
            return string ? string[1] : "";
        };

        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: '@(Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration.Active.InstrumentationKey)'
        });

        window.appInsights = appInsights;

        appInsights.queue.push(function () {
            appInsights.context.addTelemetryInitializer(function (envelope) {
                var telemetryItem = envelope.data.baseData;
                telemetryItem.properties = telemetryItem.properties || {};
                telemetryItem.properties["rf"] = getQueryString("rf") || "@rf";
            });
        });


        window.setTimeout(function () {
            StopByStop.Telemetry.trackEvent(StopByStop.TelemetryEvent.NonBounce);
        }, 3000);
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-16049949-5', 'auto');
        ga('send', 'pageview');

    </script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB3Gh8xWgcXKlrJs8gT_h8PJO-cIB49ovk" async defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>


    @System.Web.Optimization.Scripts.Render("~/client/content/sbsjsbundle")

    <script type="text/javascript">
        StopByStop.WebInit.initialize(
        @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
        );
        $("body").css({ opacity: "1.0" });
    </script>

    @if (System.Configuration.ConfigurationManager.AppSettings["envtype"] == "production")
    {
    <script type="text/javascript">
        window.isProduction = true;
    </script>
    }


</head>
<body class="sbs">
    <div id="sbsRoot">
        {{>home}}
        {{>route}}
        {{>exit}}
        {{>about}}
        <div style="display:none">
            {{>header}}
            {{>navpanel}}
            {{>footer}}
        </div>
        {{>sidebar}}
    </div>
    <div style="display:none">
        {{>mappoipopup}}
    </div>


    @* Delay loading*@
    <script type="text/javascript">
        $(window).on("load", function () {
            window.setTimeout(function () {
                $("head").append('<link rel="stylesheet" type="text/css" href="@(System.Web.Optimization.Styles.Url("~/client/content/sbscssdelayedbundle"))" />');

                @* FB script *@
                if (window.isProduction) {
                    window.fbAsyncInit = function() {
                        FB.init({
                            appId      : '1385725698401226',
                            xfbml      : true,
                            version    : 'v2.8'
                        });

                        FB.AppEvents.logPageView();
                    };

                    (function(d, s, id){
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) {return;}
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                }


            }, 100);
        });
    </script>
</body>
</html>
