*.suo
*.user
bin
obj
packages
*.js.map
Scripts/viewmodels/*js
Scripts/extensions.js
Scripts/Init.js
Scripts/stopbystop-interfaces.js
Scripts/Telemetry.js
Scripts/Utils.js
Scripts/sbsbundle.*
Scripts/InitUrls.js
Scripts/test/RoutePlanViewModelTests.js
node_modules
