<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="aikey" value="d7a35603-f497-4ddc-8a90-44b2329bcdb7"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="envtype" value="production"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cdnroot" value="https://az804061.vo.msecnd.net"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="proxyservice" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
       
    </connectionStrings>
    
  -->

  <appSettings>
    <!-- <add key="aikey" value="14a6beb5-4c97-4827-b8db-62fc92f0bc75" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>