*.suo
*.user
bin
obj
packages
*.js.map
scripts/viewmodels/*js
scripts/extensions.js
scripts/Init.js
scripts/stopbystop-interfaces.js
scripts/Telemetry.js
scripts/Utils.js
scripts/InitUrls.js
scripts/AppState.js
scripts/InitHome.js
scripts/WebInit.js
scripts/main.js
compiledscripts
node_modules
content/sbsbundle*
outscripts/*
