/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* float clearing for IE6 */
* html .module {
    height: 1%;
    overflow: visible;
}

/* float clearing for IE7 */
* + html .module {
    min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

/* New Breadcrumb Styling */
.breadcrumb_main {
    list-style: none;
    overflow: hidden;
    font-size: 13px;
    background: #73C5E1;
    padding-left: 0px !important;
}

@media (min-width: 60em) {
    .breadcrumb_main {
        list-style: none;
        overflow: hidden;
        font-size: 18px;
        background: #73C5E1;
    }
}

.breadcrumb_main li {
    float: left;
}

    .breadcrumb_main li a {
        background: #73C5E1 none repeat scroll 0 0;
        color: #ffffff !important;
        display: block;
        float: left;
        font-family: "Open sans condensed",sans-serif;
        font-weight: 700;
        padding: 10px 0 10px 55px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }

        .breadcrumb_main li a:after {
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
            border-bottom: 50px solid transparent;
            border-left: 30px solid #73C5E1;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            left: 100%;
            z-index: 2;
        }

        .breadcrumb_main li a:before {
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
            border-bottom: 50px solid transparent;
            border-left: 30px solid white;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            margin-left: 1px;
            left: 100%;
            z-index: 1;
        }

    .breadcrumb_main li:first-child a {
        padding-left: 10px;
    }

    .breadcrumb_main li:nth-child(2) a {
        background: #57BADB;
    }

        .breadcrumb_main li:nth-child(2) a:after {
            border-left-color: #57BADB;
        }

    .breadcrumb_main li:nth-child(3) a {
        background: #35ACD4;
    }

        .breadcrumb_main li:nth-child(3) a:after {
            border-left-color: #35ACD4;
        }

    .breadcrumb_main li:nth-child(4) a {
        background: #2795B9;
    }

        .breadcrumb_main li:nth-child(4) a:after {
            border-left-color: #2795B9;
        }

    .breadcrumb_main li:nth-child(5) a {
        background: #207A97;
    }

        .breadcrumb_main li:nth-child(5) a:after {
            border-left-color: #207A97;
        }

    .breadcrumb_main li a:hover {
        background: #73C5E1;
    }

        .breadcrumb_main li a:hover:after {
            border-left-color: #73C5E1 !important;
        }
