.poi-header {
    width: 100%;
    display: inline-block;
    padding: 30px;
}

.poi-header-details {
    font-size: 0.8em;
    line-height: 1.1em;
}

.poi-header-icon {
    box-shadow: none;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    display: block;
    border-radius: 3px;
}

.poi-header-type-icon{
    margin:4px 15px 0 0;
}

.poi-header-add {
    background-image: url('v1/icons/add-to-route-ff.png');
    margin: 0 25px 0 0;

}

.sbs-cdb .poi-header-add {
    background-image: url('../images/add-to-route-ff.png');
}

.poi-header-main{
    float:left;
    width:60%;
}

.poi-header-name {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:1.2em;
}
