
/* exit page styles*/

.poi-table {
    display: table;
    margin: 0 auto;
    width:100%;
}



.poi-table-row {
    display: table-row;
    margin: 0.1em 0;
    white-space: nowrap;
    height: 55px;
}

.sbs-navigate-btn {
    overflow: hidden;
    padding: 0;
}

.exit_marker {
    margin: 0 auto;
    position: relative;
    width: 4.5em;
}

.poi-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 4px;
    height: 48px;
    min-width: 48px;
    cursor: pointer;
}

.poi-phone-cell {
    width: 10%;
}

.poi-table-cell-link {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background: #3e465b none repeat scroll 0 0;
    border-radius: 11px;
    color: #333;
    text-shadow: 0 0px 0 #f3f3f3;
    padding: 2px 2px;
    border: 0;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

    .poi-table-cell-link:hover {
        background-color: #f1f1f1;
    }

    .poi-table-cell-link:focus {
        border: 0 !important;
        outline: 0 !important;
        box-shadow: none;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }

.yelp-link.call-map-title {
    border: 0 !important;
    background-color: #202637 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none;
}







.poi-wrapper {
    display: inline-block;
    width: 1em;
}

.poi-name {
    font-size: 1.4em;
}

.poi-top {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100%;
}

    .poi-top ul {
        padding: 0;
        margin: 0;
        line-height: 20px;
        list-style-type: none;
        /* font-size: 0.6em;
        font-weight: 100;*/
    }

.poi-description {
    font-size: 1em;
    padding-bottom: 10px;
    font-weight: 300;
}

.poi_placename > span {
    font-size: 1.2em;
}

.poi-details.distance {
    overflow: hidden;
    font-family: 'MontReg',Arial;
    position: absolute;
    top: initial;
    bottom: 0;
    font-size: 0.5em;
}

.poi-placename {
    background-position: 4px 4px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 65%;
    text-overflow: ellipsis;
    padding: 0;
    top: 0;
    left: 0;
    line-height: 1em;
    font-family: 'MontReg',Arial;
    font-size: 1.8em;
    overflow: hidden;
    background-size: 4em;
    width: 70%;
    height: 100%;
    position: absolute;
    font-size: 0.8em;
}

.poi-popup .poi-placename {
    padding-left: 1.2em;
    background-size: 1.2em;
}


.poi-typeicon {
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    top: 0;
    left: 0;
    background-size: 1.2em;
}

.poi-details {
    position: absolute;
    float: left;
    overflow: hidden;
    width: auto;
    font-family: 'MontReg',Arial;
    top: 30%;
}

.poi-table-cell-go {
    position: absolute;
    right: 0;
    height: 70%;
    top: -5px;
    width: 30%;
    padding: 0;
    margin: 0;
    border-radius: 0 0 0 10px;
}

    .poi-table-cell-go img {
        width: 75%;
        margin: 0 0 0 10%;
    }


.ui-field-contain .ui-controlgroup-controls {
    width: auto !important;
    float: none !important;
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on::after, html .ui-bar-a .ui-checkbox-on::after, html .ui-body-a .ui-checkbox-on::after, html body .ui-group-theme-a .ui-checkbox-on::after, .ui-btn.ui-checkbox-on.ui-btn-a::after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #EB65A0 !important;
    border-color: #EB65A0 !important;
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active {
    background-color: #ff9c00 !important;
    border-color: #ff9c00 !important;
    color: #fff !important;
}

.pois-list fieldset .ui-btn.ui-btn-active {
    background-color: #202637 !important;
    border-color: #202637 !important;
}

.ui-page-theme-a .exit-action.ui-btn, #exit .ui-icon-plus, #exit .ui-icon-minus {
    background-color: #ff9c00 !important;
}

.pois-list-filters-container {
    float: left;
}

.pois-list-filters-button {
    background-image: url('v1/images/filter-icon.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 75px;
}


.sbs-cdb .pois-list-filters-button {
    background-image: url('../images/filter-icon.png');
}

.pois-list fieldset .list-view, .pois-list fieldset .map-view {
    width: 50px;
    height: 18px;
    background-position: 52px 15px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-color: #272d40 !important;
    border: 0;
}

.pois-list fieldset .list-view {
    background-image: url('../images/list-view.png');
}

.pois-list fieldset .map-view {
    background-image: url('../images/map-view.png');
}


.sbs-web .pois-list fieldset .list-view {
    background-image: url('v1/icons/list-view.png');
}


.sbs-web .pois-list fieldset .map-view {
    background-image: url('v1/icons/map-view.png');
}

.pois-list-view-mode-switch {
    float: right;
    margin:0;
    padding:0;
}

.pois-list-view-mode-switch .ui-controlgroup-controls{
    float:right;
}

.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on::after {
    background-color: rgb(255, 156, 0) !important;
    border-color: rgb(255, 156, 0) !important;
}


.main_details {
    width: 80%;
}

.ui-btn.ui-corner-all.poi-table-cell-link.sbs-navigate-btn.main_details.map_poi_title {
    width: 90%;
}

.ui-btn.ui-corner-all.poi-table-cell-link.yelp_map_title {
    display: inline;
    float: left;
    width: 100%;
    border: 2px solid #35acd4;
}

.poi-table-cell.poi-phone-cell.call_map_button {
    width: 10%;
}

.call_map_title {
    vertical-align: middle;
}

.poi-cat {
    background-color: transparent;
    padding: 3px;
    font-family: 'MontReg',arial;
    font-size: 1.5em;
    font-variant: small-caps;
}

.poi-yelp-loading {
    background-image: url('v1/images/hex3.gif');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    height: 10px;
}

.sbs-cdb .poi-yelp-loading {
    background-image: url('../images/hex3.gif');
}

.pois-list {
    width: 90%;
    display: block;
    margin: 0 auto;
    max-width: 48em;
}

.ui-btn.ui-corner-all.yelp_review {
    padding-left: 0;
}

.poi-details-cell {
    width: 80%;
}

.poi-placename-type {
    width: 20%;
    background-size: 60%;
    background-position:center;
}

.exit-type{
    left: 21%;
    width: 80%;
    height: 100%;
    padding-top: 0;
    padding-left: 5px;
    display: inline-block;
    position: relative;
}

.poi-cat {
    font-size: .7em;
    line-height: 1em;
}

.poi-yelp-cell {
    margin-right: 0;
}

.yelp-link {
    text-shadow: none !important;
}

    .yelp-link img {
        width: 45%;
        margin-top: 8%;
        height: auto;
    }

    .yelp-link.call_map_title img {
        width: 47%;
        margin-top: 14%;
    }

.poi-rating-count {
    font-size: .5em;
}


/* Yelp stars*/
.star-img {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c2252a4cd43e/assets/img/stars/stars_map.png) no-repeat;
    background-size: 133px;
}

.rating .stars_0 {
    background-position: -3px -3px;
}

.rating .stars_1 {
    background-position: -3px -21px;
}

.rating .stars_1_half {
    background-position: -3px -39px;
}

.rating .stars_2 {
    background-position: -3px -57px;
}

.rating .stars_2_half {
    background-position: -3px -75px;
}

.rating .stars_3 {
    background-position: -3px -93px;
}

.rating .stars_3_half {
    background-position: -3px -111px;
}

.rating .stars_4 {
    background-position: -3px -129px;
}

.rating .stars_4_half {
    background-position: -3px -147px;
}

.rating .stars_5 {
    background-position: -3px -165px;
}

.rating-small {
    clear: both;
    position: relative;
    overflow: hidden;
    width: 49px;
    height: 13px;
}

    .rating-small .stars_0 {
        background-position: -3px -183px;
    }

    .rating-small .stars_1 {
        background-position: -3px -195px;
    }

    .rating-small .stars_1_half {
        background-position: -3px -207px;
    }

    .rating-small .stars_2 {
        background-position: -3px -219px;
    }

    .rating-small .stars_2_half {
        background-position: -3px -231px;
    }

    .rating-small .stars_3 {
        background-position: -3px -243px;
    }

    .rating-small .stars_3_half {
        background-position: -3px -255px;
    }

    .rating-small .stars_4 {
        background-position: -3px -267px;
    }

    .rating-small .stars_4_half {
        background-position: -3px -279px;
    }

    .rating-small .stars_5 {
        background-position: -3px -291px;
    }

.rating-large {
    overflow: hidden;
    position: relative;
    width: 106px;
    height: 18px;
}

    .rating-large .stars_0 {
        background-position: -3px -303px;
    }

    .rating-large .stars_1 {
        background-position: -3px -324px;
    }

    .rating-large .stars_1_half {
        background-position: -3px -345px;
    }

    .rating-large .stars_2 {
        background-position: -3px -366px;
    }

    .rating-large .stars_2_half {
        background-position: -3px -387px;
    }

    .rating-large .stars_3 {
        background-position: -3px -408px;
    }

    .rating-large .stars_3_half {
        background-position: -3px -429px;
    }

    .rating-large .stars_4 {
        background-position: -3px -450px;
    }

    .rating-large .stars_4_half {
        background-position: -3px -471px;
    }

    .rating-large .stars_5 {
        background-position: -3px -492px;
    }

.rating-very-large {
    overflow: hidden;
    position: relative;
    width: 126px;
    height: 22px;
}

    .rating-very-large .stars_0 {
        background-position: -3px -514px;
    }

    .rating-very-large .stars_1 {
        background-position: -3px -539px;
    }

    .rating-very-large .stars_1_half {
        background-position: -3px -564px;
    }

    .rating-very-large .stars_2 {
        background-position: -3px -589px;
    }

    .rating-very-large .stars_2_half {
        background-position: -3px -614px;
    }

    .rating-very-large .stars_3 {
        background-position: -3px -639px;
    }

    .rating-very-large .stars_3_half {
        background-position: -3px -664px;
    }

    .rating-very-large .stars_4 {
        background-position: -3px -689px;
    }

    .rating-very-large .stars_4_half {
        background-position: -3px -714px;
    }

    .rating-very-large .stars_5 {
        background-position: -3px -739px;
    }

.star-review-count .rating, .star-review-count .rating-small {
    float: none;
    display: inline-block;
}

.ltie8 .star-review-count .rating, .ltie8 .star-review-count .rating-small {
    display: inline;
    margin-right: 3px;
}

.star-review-count .rating {
    vertical-align: middle;
}

.pr10 {
    padding-right: 10px;
}

.poi-popup .poi-table-cell {
    display: inline-block;
    height: 30px;
    float: left;
    width: 80px;
}

.poi-popup .poi-details-cell {
    width: 170px;
}

.poi-popup .yelp-link {
    width: auto;
}

    .poi-popup .yelp-link img {
        width: 30%;
        margin-top: 0;
    }

.poi-popup .poi-placename {
    font-size: .5em;
}

.poi-popup .yelp-link.call_map_title img {
    width: auto;
    margin-top: 0;
    height: 25px;
}

.poi-popup .poi-rating {
    margin-top: 12px;
}

.poi-popup .poi-rating-count {
    font-size: .5em;
    margin-top: -3px;
}

.poi-popup .yelp-link > div {
    height: 7px;
    margin-top: -5px;
}

.poi-popup .poi-details.distance {
    font-size: .5em;
}
/* end of exit page styles*/
