@media only all and (min-width: 48em) {
    .route {
        margin: 0 auto;
        max-width: 600px;
        padding-left: 20%;
        padding-right: 20%;
        width: 60%;
    }

    .segment-name {
        width: 100%;
        margin-left: 5%;
    }

    .segment-instructions {
        font-size: 1em;
        margin-left: 25px;
    }

    .highway-name {
        font-size: 1.3em;
        line-height: 1em;
        margin-left: 25px;
    }

    .segment-distance {
        font-size: 1.2em;
    }

    .distance-to-junction {
    }

    .junction-wrapper {
    }

    .junction {
        width: 190px;
        margin-left: -60px;
    }

    .junction-name {
        padding: 0 35px;
    }

    .poi {
        width: 4em;
        height: 4em;
        margin: 0 .6em;
    }

    .poi-count {
        width: 1.5em;
        height: 1.5em;
        font-size: .9em;
        left: 51px;
    }

    .poi-distance-label {
        top: 75px;
        left: 13px;
        font-size: 1em;
    }

    div.ui-slider {
        height: 30px;
        margin: 25px 0;
        padding: 0 20%;
        width: 60%;
    }

    .route-description2, .route-summary-table {
        width: 94%;
    }




    .route-description2 {
        font-size: 1.8em;
    }

    #sidebar {
        margin-top: 200px;
        margin-left: 45px;
    }

    #sidebar-inner {
        left: 20px;
    }

    .sidebar-label {
        width: 9.5em;
    }

    .sidebar_text {
        line-height: .8em;
        font-size: 2.5em;
    }

    .route-start, .route-eta {
        font-size: 1.8em;
        line-height: 1.5em;
        padding: 0;
    }

    .sidebar-stop-time {
        width: 260px;
        left: 72px;
        font-size: 1.3em;
        padding: 4px;
    }

    .sidebar-stop {
        width: 4em;
        height: 3.8em;
    }

    .filters-container {
        top: 38px;
        width: 40px;
        height: 40px;
    }

    .filters-trigger {
        background-size: 100%;
    }

    .filters-trigger-line1, .filters-trigger-line2 {
        border: 0;
    }

    .letsgo-container .letsgo-button {
        font-size: 1.8em;
        width: 35%;
        margin-left: auto;
    }

    .pois {
        left: 140px;
    }
}
