@media only all and (min-width: 24em) {
    .segment-distance {
        font-size: .8em;
    }

    .segment-name {
        width: 55%;
    }

    .segment-instructions {
        margin-left: 4px;
        font-size: .6em;
    }

    .highway-name {
        margin-left: 4px;
        font-size: .6em;
    }

    .distance-to-junction {
        min-width: 0 !important;
        width: 10em !important;
        top: 104px;
        height: 20px;
        margin: 0 32.5%;
        line-height: 15px;
        padding-top: 5px;
    }

    .time_to_junction_marker {
        padding: 0;
    }

    .junction-name {
        font-size: 1.6em;
        padding: 0 12px;
        line-height: 1em;
    }

    .poi-count {
        width: 1em;
        height: 1em;
        font-size: .6em;
    }

    .poi-distance-label {
        font-size: .8em;
    }

    .route-description-metric-label {
        font-size: .8em;
    }

    #exit .route-description-metric-label {
        font-size: 1em;
    }

    .restaurant-group, .gas-group {
        display: inline-block;
    }

    .restaurant-group {
        width: 100px;
        margin-right: 35px;
    }

    .exit-page .route-description-metric-label {
        width: 114px;
        display: inline-block;
        margin-right: 0px;
    }

    .exit-page .miles .route-description-metric-label {
        margin-right: 0;
        display: inline;
    }

    #sidebar {
        margin-top: 208px;
    }

    .filters-container {
        top: -43px;
    }
}
