@media only all and (min-width: 48em) {

    .poi-table-row {
        height: 140px;
    }

    .pois-list {
        padding-left: 20%;
        padding-right: 20%;
        width: 60%;
        display: inline;
    }
}
