
/* exit page styles*/

.poi-table {
    display: block;
    margin: 0 auto;
}



.poi-table-row {
    display: inline-block;
    margin: 0.1em 0;
    white-space: nowrap;
    height: 55px;
}

.sbs-navigate-btn {
    overflow: hidden;
    padding: 0;
}

.exit_marker {
    margin: 0 auto;
    position: relative;
    width: 4.5em;
}

.poi-table-cell {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    padding: 2px;
    height: 3em;
}

.poi-phone-cell {
    width: 10%;
}

.poi-yelp-cell {
    margin-right: 10px;
}

.poi-table-cell-link {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background: #3e465b none repeat scroll 0 0;
    border-radius: 11px;
    color: #333;
    text-shadow: 0 0px 0 #f3f3f3;
    padding: 2px 2px;
    border: 0;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

    .poi-table-cell-link:hover {
        background-color: #f1f1f1;
    }

    .poi-table-cell-link:focus {
        border: 0 !important;
        outline: 0 !important;
        box-shadow: none;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }

.poi-details-cell {
    width: 600px;
    max-width: none;
}

.yelp-link {
    width: 100px;
    width: 150px;
}

    .yelp-link.call-map-title {
        width: 120px;
        border: 0 !important;
        background-color: #202637 !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        width: 150px;
        text-shadow: none;
    }


.exit-food, .exit-gas {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: -2px;
    height: 100%;
}

    .exit-food .poi-placename {
        color: #f15b6a;
    }

    .exit-gas .poi-placename {
        color: #4fc0e8;
    }

.poi-wrapper {
    display: inline-block;
    width: 1em;
}

.poi-name {
    font-size: 1.4em;
}

.poi-top {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100%;
}

    .poi-top ul {
        padding: 0;
        margin: 0;
        line-height: 20px;
        list-style-type: none;
        /* font-size: 0.6em;
        font-weight: 100;*/
    }

.poi-description {
    font-size: 1em;
    padding-bottom: 10px;
    font-weight: 300;
}

.poi_placename > span {
    font-size: 1.2em;
}

.poi-details.distance {
    float: left;
    overflow: hidden;
    width: 94%;
    font-family: 'MontReg',Arial;
    position: absolute;
    padding: 15px;
    line-height: 1em;
    text-align: center;
}

.poi-placename {
    background-position: 4px 4px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 65%;
    text-overflow: ellipsis;
    padding: 0;
    top: 0;
    left: 0;
    line-height: 1em;
    font-family: 'MontReg',Arial;
    font-size: 1.8em;
    overflow: hidden;
    background-size: 4em;
    width: 80px;
    height: 80px;
    position: absolute;
}

.poi-popup .poi-placename {
    padding-left: 1.2em;
    background-size: 1.2em;
}

.poi-placename-food {
    background-image: url('v1/icons/food.png');
    background-color: #f15b6a;
}

.sbs-cdb .poi-placename-food {
    background-image: url('../images/food.png');
}

.poi-placename-gas {
    background-image: url('v1/icons/gas.png');
    background-color: #4fc0e8;
}

.sbs-cdb .poi-placename-gas {
    background-image: url('../images/gas.png');
}

.poi-details {
    float: left;
    overflow: hidden;
    width: auto;
    padding: 5px;
    font-family: 'MontReg',Arial;
}

.poi-table-cell-go {
    position: absolute;
    right: 0;
}


.ui-field-contain .ui-controlgroup-controls {
    width: auto !important;
    float: none !important;
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on::after, html .ui-bar-a .ui-checkbox-on::after, html .ui-body-a .ui-checkbox-on::after, html body .ui-group-theme-a .ui-checkbox-on::after, .ui-btn.ui-checkbox-on.ui-btn-a::after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #EB65A0 !important;
    border-color: #EB65A0 !important;
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active {
    background-color: #ff9c00 !important;
    border-color: #ff9c00 !important;
    color: #fff !important;
}

.pois-list fieldset .ui-btn.ui-btn-active {
    background-color: #202637 !important;
    border-color: #202637 !important;
}

.ui-page-theme-a .exit-action.ui-btn, #exit .ui-icon-plus, #exit .ui-icon-minus {
    background-color: #ff9c00 !important;
}

.ui-page-theme-a .exit-navigate.ui-btn, .ui-page-theme-a .exit-add.ui-btn {
    background-color: #a0d468 !important;
}

.pois-list fieldset {
    margin-left: 0;
    text-align: right !important;
    margin-bottom: 60px;
}

    .pois-list fieldset .list-view {
        background-image: url('../images/list-view.png');
        width: 18px;
        height: 18px;
        background-position: 20px 13px;
        background-size: 35%;
        background-repeat: no-repeat;
        background-color: #272d40 !important;
        border: 0;
    }

    .pois-list fieldset .map-view {
        background-image: url('../images/map-view.png');
        background-repeat: no-repeat;
        background-position: 20px 11px;
        background-color: #272d40 !important;
        border: 0;
        width: 18px;
        height: 18px;
        background-size: 29%;
    }


.sbs-web .pois-list fieldset .list-view {
    background-image: url('v1/icons/list-view.png');
}


.sbs-web .pois-list fieldset .map-view {
    background-image: url('v1/icons/map-view.png');
}



.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on::after {
    background-color: rgb(255, 156, 0) !important;
    border-color: rgb(255, 156, 0) !important;
}


.main_details {
    width: 80%;
}

.ui-btn.ui-corner-all.poi-table-cell-link.sbs-navigate-btn.main_details.map_poi_title {
    width: 90%;
}

.ui-btn.ui-corner-all.poi-table-cell-link.yelp_map_title {
    display: inline;
    float: left;
    width: 100%;
    border: 2px solid #35acd4;
}

.poi-table-cell.poi-phone-cell.call_map_button {
    width: 10%;
}

.call_map_title {
    vertical-align: middle;
}

.yelp-link img {
    margin-top: 17%;
    width: 70px;
    height: auto;
}

.poi-cat {
    background-color: transparent;
    color: #fff;
    padding: 3px;
    font-family: 'MontReg',arial;
    font-size: 1.5em;
}

.poi-yelp-loading {
    background-image: url('v1/images/hex2.gif');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
}

.sbs-cdb .poi-yelp-loading {
    background-image: url('../images/hex2.gif');
}

.pois-list {
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    display: inline;
}


    .pois-list fieldset {
        margin-left: 58%;
        margin-bottom: 30px;
    }

.poi-table {
    text-align: center;
    margin-left: -22px;
}

.ui-btn.ui-corner-all.yelp_review {
    padding-left: 0;
}

.poi-details-cell {
    width: 180px;
}

.poi-placename-food, .poi-placename-gas {
    width: 30px;
    background-size: 2.5em;
}

.exit-food, .exit-gas {
    left: 32px;
    width: 145px;
    padding-top: 0;
    padding-left: 5px;
}

.poi-details {
    padding: 0;
    line-height: .4em !important;
    font-weight: 100 !important;
}


.poi-placename {
    font-size: .4em;
}

.poi-cat {
    font-size: .9em;
    line-height: 1em;
}

.poi-details.distance {
    padding: 4px;
    padding-top: 6px;
}

.poi-yelp-cell {
    margin-right: 0;
}

.yelp-link {
    text-shadow: none !important;
    width: 50px;
    right: 8px;
}

    .yelp-link img {
        width: 30%;
        margin-top: 8%;
    }

    .yelp-link.call_map_title img {
        width: 47%;
        margin-top: 14%;
    }

.call_map_title {
    right: 14px;
    width: 50px;
}

.poi-rating-count {
    font-size: .5em;
}

.exit-page .route-description-metric-label {
    margin-right: -13px;
}

.exit-page .miles .route-description-metric-label {
    margin-right: 0;
    display: inline;
}




/* Yelp stars*/
.star-img {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c2252a4cd43e/assets/img/stars/stars_map.png) no-repeat;
    background-size: 133px;
}

.rating .stars_0 {
    background-position: -3px -3px;
}

.rating .stars_1 {
    background-position: -3px -21px;
}

.rating .stars_1_half {
    background-position: -3px -39px;
}

.rating .stars_2 {
    background-position: -3px -57px;
}

.rating .stars_2_half {
    background-position: -3px -75px;
}

.rating .stars_3 {
    background-position: -3px -93px;
}

.rating .stars_3_half {
    background-position: -3px -111px;
}

.rating .stars_4 {
    background-position: -3px -129px;
}

.rating .stars_4_half {
    background-position: -3px -147px;
}

.rating .stars_5 {
    background-position: -3px -165px;
}

.rating-small {
    clear: both;
    position: relative;
    overflow: hidden;
    width: 49px;
    height: 13px;
}

    .rating-small .stars_0 {
        background-position: -3px -183px;
    }

    .rating-small .stars_1 {
        background-position: -3px -195px;
    }

    .rating-small .stars_1_half {
        background-position: -3px -207px;
    }

    .rating-small .stars_2 {
        background-position: -3px -219px;
    }

    .rating-small .stars_2_half {
        background-position: -3px -231px;
    }

    .rating-small .stars_3 {
        background-position: -3px -243px;
    }

    .rating-small .stars_3_half {
        background-position: -3px -255px;
    }

    .rating-small .stars_4 {
        background-position: -3px -267px;
    }

    .rating-small .stars_4_half {
        background-position: -3px -279px;
    }

    .rating-small .stars_5 {
        background-position: -3px -291px;
    }

.rating-large {
    overflow: hidden;
    position: relative;
    width: 106px;
    height: 18px;
}

    .rating-large .stars_0 {
        background-position: -3px -303px;
    }

    .rating-large .stars_1 {
        background-position: -3px -324px;
    }

    .rating-large .stars_1_half {
        background-position: -3px -345px;
    }

    .rating-large .stars_2 {
        background-position: -3px -366px;
    }

    .rating-large .stars_2_half {
        background-position: -3px -387px;
    }

    .rating-large .stars_3 {
        background-position: -3px -408px;
    }

    .rating-large .stars_3_half {
        background-position: -3px -429px;
    }

    .rating-large .stars_4 {
        background-position: -3px -450px;
    }

    .rating-large .stars_4_half {
        background-position: -3px -471px;
    }

    .rating-large .stars_5 {
        background-position: -3px -492px;
    }

.rating-very-large {
    overflow: hidden;
    position: relative;
    width: 126px;
    height: 22px;
}

    .rating-very-large .stars_0 {
        background-position: -3px -514px;
    }

    .rating-very-large .stars_1 {
        background-position: -3px -539px;
    }

    .rating-very-large .stars_1_half {
        background-position: -3px -564px;
    }

    .rating-very-large .stars_2 {
        background-position: -3px -589px;
    }

    .rating-very-large .stars_2_half {
        background-position: -3px -614px;
    }

    .rating-very-large .stars_3 {
        background-position: -3px -639px;
    }

    .rating-very-large .stars_3_half {
        background-position: -3px -664px;
    }

    .rating-very-large .stars_4 {
        background-position: -3px -689px;
    }

    .rating-very-large .stars_4_half {
        background-position: -3px -714px;
    }

    .rating-very-large .stars_5 {
        background-position: -3px -739px;
    }

.star-review-count .rating, .star-review-count .rating-small {
    float: none;
    display: inline-block;
}

.ltie8 .star-review-count .rating, .ltie8 .star-review-count .rating-small {
    display: inline;
    margin-right: 3px;
}

.star-review-count .rating {
    vertical-align: middle;
}

.pr10 {
    padding-right: 10px;
}
/* end of exit page styles*/
