@media only all and (min-width: 32em) {
    .sbs .button-green {
        font-size: 1.5em;
        margin: 0 0 0 -18px;
        width: 106%;
    }

    .highway-name {
        font-size: 0.9em;
    }

    .direction-icon {
        width: 35px;
        height: 35px;
        left: 7px;
    }

        .direction-icon.exit {
            background-size: 13px;
            background-position: 38%;
        }

        .direction-icon.southwest {
            background-size: 10px;
            background-position: 50%;
        }


        .direction-icon.right, .direction-icon.left, .direction-icon.merge {
            background-size: 13px;
        }

    .distance-to-junction {
        left: -13px;
    }

    .junction {
        width: 140px;
        margin-left: -40px;
    }

    .poi-details {
        float: left;
        overflow: hidden;
        width: 75%;
    }

    .pois {
        left: 110px;
        width: 170px;
    }

    .pois .poi {
        width: 4em;
        height: 4em;
        margin: 0 .6em;
    }

    .poi-count {
        width: 1.5em;
        height: 1.5em;
        font-size: .9em;
        left: 49px;
        padding: 3px 0 0 2px;
    }

    .poi-distance-label {
        top: 60px;
        left: 20px;
        font-size: 1em;
    }

    #sidebar {
        margin-top: 190px;
    }

    .route-start, .route-eta {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-label {
        width: 6.5em;
    }

    #sidebar-inner {
        left: 12px;
    }

    .sidebar-stop-time {
        width: 170px;
    }

    .sidebar_text {
        font-size: 1.5em;
        padding: 5px;
    }

    .sidebar-label, .route-start, .route-eta {
        font-size: 1em;
    }

    .route-start, .route-eta {
        padding: 8px 12px;
    }

    #sidebar-inner {
        left: -4px;
    }

    .sidebar-label {
        left: -2.9em;
    }

    .route-description2 {
        font-size: 1.2em;
    }

    .junction-name {
        font-size: 2em;
        line-height: 1em;
    }
}
