.poi-header {
    width: 100%;
    margin-left: -3%;
    display: inline-block;
    padding: 10px;
}

.poi-header-details {
    font-size: 0.8em;
    line-height: 1.1em;
}

.poi-header-icon {
    box-shadow: none;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    display: block;
    border-radius: 3px;
}

.poi-header-type-icon {
    margin: 4px 15px 0 0;
}

.poi-header-add {
    background-image: url('icons/add-to-route-ff.png');
}

.sbs-cdb .poi-header-add {
    background-image: url('../images/add-to-route-ff.png');
}

.poi-header-add-acc {
    background-image: url('icons/add-to-route-acc.png');
}

.sbs-cdb .poi-header-add-acc {
    background-image: url('../images/add-to-route-acc.png');
}

.poi-header-navigate-acc {
    background-image: url('icons/navigate-acc.png');
}

.sbs-cdb .poi-header-navigate-acc {
    background-image: url('../images/navigate-acc.png');
}


.poi-header-main {
    float: left;
    width: 60%;
    margin-left:20px;
}

.poi-header-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poi-header-right {
    float: right;
}

.poi-page-cat-icon {
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.poi-page-cat-item-cell{
    display:table-cell;
    width:80%;
    vertical-align:middle;
    padding-bottom:10px;
    border-bottom:1px solid #fff;
}

.poi-page-cat-item-container{
    text-align:left;
    max-height:100px;
    overflow-y:scroll;
}
.poi-page-cat-item{
    padding: 2px 10px 2px 10px;
}

.poi-page-action-btn{
    float:left;
    width:40%;
    margin:2px;
    background-size:10%;
    background-repeat:no-repeat;
    background-position:6% 46%;
}

.poi-page-properties-table{
    display:table;
    width:100%;
    font-size:0.9em;
    margin-top:20px;
}


