@media only all and (min-width: 24em) {

    .poi-cat {
        font-size: 1em;
        line-height: 1em;
    }

    .poi-details.distance {
        font-size: 0.7em;
    }


    .poi-rating-count {
        font-size: .6em;
    }
}
