@media only all and (min-width: 24em) {

    .segment-name {
        width: 55%;
    }

    .segment-distance {
        font-size: 1.2em;
    }

    .segment-name > segment.segment-distance {
        font-size: 1em;
    }

    .highway-name {
    }

    .distance-to-junction {
        top: 76px;
    }

    .junction {
        width: 95px;
        height: 70px;
    }

    .time_to_junction_marker {
        padding: 0;
    }

    .junction-name {
        font-size: 1.3em;
        line-height: 1em;
    }

    .poi-count {
        font-size: 1em;
    }

    .poi-distance-label {
        font-size: 1em;
    }

    .route-description2 {
        font-size: 0.8em;
    }

    .pois {
        left: 100px;
    }

    .distance_marker {
       font-size:0.8em;
    }
}
