

.sbs-web .ui-overlay-a, 
.sbs-web .ui-page-theme-a, 
.sbs-web .ui-page-theme-a .ui-panel-wrapper {
 /* background-image: url('v1/images/main_image2.jpg');*/
        background-image:none;
        background-color: #32394c;
}

.sbs-cdb .ui-overlay-a, 
.sbs-cdb .ui-page-theme-a, 
.sbs-cdb .ui-page-theme-a .ui-panel-wrapper {
 /* background-image: url('v1/images/main_image2.jpg');*/
        background-image:none;
        background-color: #32394c;
}

@media (min-width: 35em) {
    .sbs-web .ui-overlay-a, 
    .sbs-web .ui-page-theme-a, 
    .sbs-web .ui-page-theme-a .ui-panel-wrapper {
        /* background-image: url('v1/images/main_image2.jpg');*/
        background-image:none;
        background-color: #32394c;

    }

    .sbs-cdb .ui-overlay-a, 
    .sbs-cdb .ui-page-theme-a, 
    .sbs-cdb .ui-page-theme-a .ui-panel-wrapper {
        /* background-image: url('v1/images/main_image2.jpg');*/
        background-image:none;
        background-color: #32394c;
    }
}
