@media only all and (min-width: 32em) {

    .poi-table-row {
        height: 120px;
    }
    
    .poi-details-cell {
        width: 300px;
    }

    .poi-placename {
        font-size: 1.3em;
    }

    .poi-cat {
        font-size: 1em;
    }

    .poi-details.distance {
        padding: 5px;
    }

    .poi-yelp-cell {
        margin-right: 0;
    }

    .yelp-link {
        width: 105px;
    }
}
