/*restaurants type*/

/*1*/
.poi-type-color-restaurants {
    color: #f15b6a;
}

/*2*/
<<<<<<< HEAD
.poi-placename-restaurants {
    background-image: url('icons/poi/restaurants/restaurants_1.png');
=======
.poi-type-restaurants {
    background-image: url('v1/icons/poi/restaurants/restaurants_1.png');
>>>>>>> origin/poipage
    background-color: #f15b6a;
}

/*3*/
.sbs-cdb .poi-type-restaurants {
    background-image: url('../images/restaurants_1.png');
}

/*4*/
<<<<<<< HEAD
.restaurants{
    background-image: url('icons/poi/restaurants/restaurants_1.png');
    box-shadow: none;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f15b6a;
    border-radius: 50%;
=======
.poi-type-accent-restaurants {
    background-image: url('v1/icons/poi/restaurants/restaurants_2.png');
>>>>>>> origin/poipage
}

/*5*/
.sbs-cdb .poi-type-accent-restaurants {
    background-image: url('../images/restaurants_2.png');
<<<<<<< HEAD
    background-size: 90%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position:center;
}

/*7*/
.sbs-web .restaurants-icon {
    background-image: url('icons/poi/restaurants/restaurants_2.png');
}

/*8*/
.sidebar-stop.restaurants .heading {
    color: #f15b6a;
=======
>>>>>>> origin/poipage
}

/*9: feature icons*/

/* category */
.restaurants-c-icon-w, .ui-icon-restaurants-c-icon-w:after {
    background-image: url('icons/poi/restaurants/restaurants_1.png');
}

.sbs-cdb .restaurants-c-icon-w, .sbs-cdb .ui-icon-restaurants-c-icon-w:after  {
    background-image: url('../images/restaurants_1.png');
}

.restaurants-c-icon-a, .ui-icon-restaurants-c-icon-a:after {
    background-image: url('icons/poi/restaurants/restaurants_2.png');
}

.sbs-cdb .restaurants-c-icon-a, .sbs-cdb .ui-icon-restaurants-c-icon-a:after  {
    background-image: url('../images/restaurants_2.png');
}


/* feature:mt*/
.restaurants-p-mt-icon-w, .ui-icon-restaurants-p-mt-icon-w:after {
    background-image: url('icons/poi/restaurants/restaurants_mt_1.png');
}

.sbs-cdb .restaurants-p-mt-icon-w, .sbs-cdb .ui-icon-restaurants-p-mt-icon-w:after  {
    background-image: url('../images/restaurants_mt_1.png');
}

.restaurants-p-mt-icon-a, .ui-icon-restaurants-p-mt-icon-a:after {
    background-image: url('icons/poi/restaurants/restaurants_mt_2.png');
}

.sbs-cdb .restaurants-p-mt-icon-a, .sbs-cdb .ui-icon-restaurants-p-mt-icon-a:after  {
    background-image: url('../images/restaurants_mt_2.png');
}

/* feature:f*/
.restaurants-p-f-icon-w, .ui-icon-restaurants-p-f-icon-w:after {
    background-image: url('icons/poi/restaurants/restaurants_f_1.png');
}

.sbs-cdb .restaurants-p-f-icon-w, .sbs-cdb .ui-icon-restaurants-p-f-icon-w:after  {
    background-image: url('../images/restaurants_f_1.png');
}

.restaurants-p-f-icon-a, .ui-icon-restaurants-p-f-icon-a:after {
    background-image: url('icons/poi/restaurants/restaurants_f_2.png');
}

.sbs-cdb .restaurants-p-f-icon-a, .sbs-cdb .ui-icon-restaurants-p-f-icon-a:after  {
    background-image: url('../images/restaurants_f_2.png');
}

/* feature:gf*/
.restaurants-p-gf-icon-w, .ui-icon-restaurants-p-gf-icon-w:after {
    background-image: url('icons/poi/restaurants/restaurants_gf_1.png');
}

.sbs-cdb .restaurants-p-gf-icon-w, .sbs-cdb .ui-icon-restaurants-p-gf-icon-w:after  {
    background-image: url('../images/restaurants_gf_1.png');
}

.restaurants-p-gf-icon-a, .ui-icon-restaurants-p-gf-icon-a:after {
    background-image: url('icons/poi/restaurants/restaurants_gf_2.png');
}

.sbs-cdb .restaurants-p-gf-icon-a, .sbs-cdb .ui-icon-restaurants-p-gf-icon-a:after  {
    background-image: url('../images/restaurants_gf_2.png');
}

/* feature:pc*/
.restaurants-p-pc-icon-w, .ui-icon-restaurants-p-pc-icon-w:after {
    background-image: url('icons/poi/restaurants/restaurants_pc_1.png');
}

.sbs-cdb .restaurants-p-pc-icon-w, .sbs-cdb .ui-icon-restaurants-p-pc-icon-w:after  {
    background-image: url('../images/restaurants_pc_1.png');
}

.restaurants-p-pc-icon-a, .ui-icon-restaurants-p-pc-icon-a:after {
    background-image: url('icons/poi/restaurants/restaurants_pc_2.png');
}

.sbs-cdb .restaurants-p-pc-icon-a, .sbs-cdb .ui-icon-restaurants-p-pc-icon-a:after  {
    background-image: url('../images/restaurants_pc_2.png');
}

/*gasstations type*/
/*1*/
.poi-type-color-gasstations {
    color: #4fc0e8;
}

/*2*/
<<<<<<< HEAD
.poi-placename-gasstations {
    background-image: url('icons/poi/gasstations/gasstations_1.png');
=======
.poi-type-gasstations {
    background-image: url('v1/icons/poi/gasstations/gasstations_1.png');
>>>>>>> origin/poipage
    background-color: #4fc0e8;
}

/*3*/
.sbs-cdb .poi-type-gasstations {
    background-image: url('../images/gasstations_1.png');
}

/*4*/
<<<<<<< HEAD
.gasstations {
    background-image: url('icons/poi/gasstations/gasstations_1.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4fc0e8;
    border-radius: 50%;
    box-shadow: none;
=======
.poi-type-accent-gasstations {
    background-image: url('v1/icons/poi/gasstations/gasstations_2.png');
>>>>>>> origin/poipage
}

/*5*/
.sbs-cdb .poi-type-accent-gasstations {
    background-image: url('../images/gasstations_2.png');
}

/* category */
.gasstations-c-icon-w, .ui-icon-gasstations-c-icon-w:after {
    background-image: url('v1/icons/poi/gasstations/gasstations_1.png');
}

.sbs-cdb .gasstations-c-icon-w, .sbs-cdb .ui-icon-gasstations-c-icon-w:after  {
    background-image: url('../images/gasstations_1.png');
}

<<<<<<< HEAD
/*7*/
.sbs-web .gasstations-icon {
    background-image: url('icons/poi/gasstations/gasstations_2.png');
=======
.gasstations-c-icon-a, .ui-icon-gasstations-c-icon-a:after {
    background-image: url('v1/icons/poi/gasstations/gasstations_2.png');
>>>>>>> origin/poipage
}

.sbs-cdb .gasstations-c-icon-a, .sbs-cdb .ui-icon-gasstations-c-icon-a:after  {
    background-image: url('../images/gasstations_2.png');
}
